<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
    <link rel="stylesheet" href="public/css/estilos.css">
    <link rel="stylesheet" href="public/alertifyjs/css/alertify.min.css">


    <link rel="shortcut icon" href="img/logo.png">
    <title>Finappza</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="barra">
        <a class="navbar-brand" href="#">
            <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Finappza
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link mostrar-inicio" data-modulo="inicio" data-form="inicio"
                        href="#">Inicio</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mostrar-cuotas" data-modulo="cuotas" data-form="cuotas" href="#">Calculo de
                        Cuota</a>
                </li>
                <li class="nav-item">
                    <a id="permiso" class="nav-link mostrar-moderar" data-modulo="moderar" data-form="moderar"
                        href="#">Información</a>
                </li>
            </ul>
        </div>
        <div class="navbar-text pull-right dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ Usuario.nombre }} <img id="imgperfil" src="img/usuario.png" width="30" height="30"
                    class="rounded-circle">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item text-dark mostrar-perfil" data-modulo="perfil" data-form="perfil"
                    href="#">Perfil</a>
                <a class="dropdown-item text-dark" v-on:click="cerrar" href="#">Cerrar Sesión</a>
            </div>
        </div>
    </nav>
    <div id="Contenedor" class="d-flex">
        <!--Consulta-->
        <div class="well sidebar-nav" id="consultas">
            <nav class="card-header bg-dark text-center text-light">Consultas</nav>
            <div class="col overflow-auto" id="base">
                <consulta-card class="row p-2" v-for="valor in valores" :llave="valor.idConsulta"
                    :contenido="valor.consulta" :nombre="valor.nombre" :fecha="valor.fecha">
                </consulta-card>
            </div>
            <div class="col text-center ">
                <div class="row p-2">
                    <textarea class="form-control" rows="3" v-model="consultas.consulta"
                        placeholder="Escriba...."></textarea>
                </div>
                <div class="row p-2">
                    <div class="col-12 text-center">
                        <input type="button" v-on:click="verIdLogin" class="btn btn-primary" value="Enviar">
                    </div>
                </div>
            </div>
        </div>
        <!--Informacion-->
        <div class="container">
            <div id="modulos">
                <div class="modulos" id="vistas"></div>
            </div>
        </div>
    </div>
    <div class="col text-center p-2"> &copy; 2020 Finappza, Inc. Todos los derechos reservados.</div>
</body>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://unpkg.com/vue-select@3.0.0"></script>
<script src="public/vistas/inicio/consulta.js"></script>
<script src="public/js/jquery-ui.js"></script>
<script src="public/js/vue.js"></script>
<script src="public/alertifyjs/alertify.min.js"></script>
<script src="public/js/app.js"></script>

</html>