#listado {
	height: 100%;
	width: 100%;
	background: #ffffff;
}

#consultas {
	width: 25%;
	background: #ffffff;
}

#base {
	height: 50%;
}

body {
	background: #ffffff;
}

#Contenedor {
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 1000px) {
	#consultas {
		display: none;
	}
}