#listado {
	height: 100%;
	width: 100%;
	background: #ffffff;
}

#consultas {
	width: 25%;
	background: #ffffff;
}

#base {
	height: 50%;
}

body {
	background: #ffffff;
}

#Contenedor {
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 1000px) {
	#consultas {
		display: none;
	}
}

.container2 {
	max-width: auto;
	max-height: auto;
	margin: auto;
}

.usuarios {
	color: black;
	height: 70px;
	width: auto;
	border-bottom: 1px solid black;
	padding: 5px;
	text-align: center;
}

.usuarios:hover {
	background-color: rgb(62, 145, 87);
	color: white;
}

.msg_history {
	height: 480px;
	overflow-y: auto;
	scroll-behavior: ;
}