<form v-on:submit.prevent="enviarMensaje" id="frm-chats">
    <div class="container2">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Usuarios</h4>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        <div class="chat_list active_chat" v-for="item in usuarios" :key="item.idLogin"
                            v-on:click="abrirChat(item.idLogin)" v-if="item.idLogin != 1">
                            <div class="chat_people">
                                <div class="chat_ib">
                                    <h5> {{ item.nombre }} </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mesgs">
                    <div class="msg_history">
                        <div class="incoming_msg" v-for="item in msgs" v-if="item.de1 != msg.de1">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p> {{ item.msg }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="outgoing_msg" v-else>
                            <div class="sent_msg">
                                <p> {{ item.msg }} </p>
                            </div>
                        </div>
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="text" class="write_msg" v-model="msg.msg" placeholder="Escribe tu Mensaje" />
                            <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/chats/chats.js"></script>