<form v-on:submit.prevent="enviarMensaje" id="frm-chats">
    <div class="container2">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Usuarios</h4>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        <div class="chat_list active_chat" v-for="item in usuarios" :key="item.idLogin"
                            v-on:click="abrirChat(item.idLogin)" v-if="item.idLogin != 1">
                            <div class="chat_people">
                                <div class="chat_ib">
                                    <h5> {{ item.nombre }} </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body col msg_history">
                        <div class="row p-2" v-for="item in msgs" v-if="item.de1 != msg.de1">
                            <div class="card shadow-lg bg-white mr-auto p-2">
                                <p class="card-text">{{ item.msg }}</p>
                            </div>
                        </div>
                        <div class="row p-2" v-else>
                            <div class="card shadow-lg bg-success text-light ml-auto p-2">
                                <p class="card-text">{{ item.msg }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" v-model="msg.msg"
                                    placeholder="Escribe tu Mensaje" />
                            </div>
                            <div class="col-2">
                                <input class="btn btn-primary" type="submit" value="enviar" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
<script src="public/vistas/chats/chats.js"></script>