<form v-on:submit.prevent="RecuperarContra" id="frm-recuperar" method="post">
    <div class="card bg-dark text-center text-light">
        <div class="card-header">
            Restablecer Contraseña
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    Correo
                </div>
                <div class="col-12">
                    <input type="email" required v-model="restablecer.correo" placeholder="Correo" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Nueva Contraseña
                </div>
                <div class="col-12">
                    <input type="text" required v-model="restablecer.contraseña" placeholder="contraseña"
                        class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <input type="submit" class="btn btn-primary" value="Restablecer">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <input type="button" class="btn btn-success" value="Regresar" id="Iniciar">
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/login/contraseña.js"></script>