<form v-on:submit.prevent="guardarRegistro" id="frm-registrar" method="post">
    <div class="card bg-dark text-center text-light">
        <div class="card-header">
            Registro
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    Nombre
                </div>
                <div class="col-12">
                    <input type="text" required v-model="registrar.nombre" placeholder="Nombre" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Correo
                </div>
                <div class="col-12">
                    <input type="email" required v-model="registrar.correo" placeholder="Correo" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Contraseña
                </div>
                <div class="col-12">
                    <input type="text" required v-model="registrar.contraseña" placeholder="contraseña"
                        class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <input type="submit" class="btn btn-primary" value="Registrar">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <input type="button" class="btn btn-success" value="Iniciar Sesión" id="Iniciar">
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/login/registrar.js"></script>