<form v-on:submit.prevent="enviarMensaje" id="frm-chat">
    <div class="container2">
        <h3 class=" text-center">Chat con Administracion</h3>
        <div class="messaging">
            <div class="mesgs">
                <div class="msg_history">
                    <div v-for="item in msgs" id="messages">
                        <div v-if="item.de1 != msg.de1">
                            <div class="incoming_msg">
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p> {{ item.msg }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="outgoing_msg">
                                <div class="sent_msg">
                                    <p> {{ item.msg }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" v-model="msg.msg" placeholder="Escribe tu Mensaje" />
                        <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/chat/chat.js"></script>