<div class="row m-0 bg-dark justify-content-center align-items-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/KLP2vPxZpfo" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="text-center" id="listado">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Buscar" v-model="valor" v-on:keyup="verInformacion">
        </div>
        <div class="col-4">
            <input type="button" id="contribuir" class="btn btn-primary" value="Contribuir">
        </div>
    </nav>
    <nav class="nav bg-dark nav-tabs" id="myTab" role="tablist">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general"
            aria-selected="true">
            Información General
        </a>
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#bancaria" role="tab" aria-controls="bancaria"
            aria-selected="false">
            Información Bancaria
        </a>
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#diccionario" role="tab"
            aria-controls="diccionario" aria-selected="false">
            Diccionario Básico
        </a>
    </nav>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="home-tab">
            <div class="card-deck justify-content-center align-items-center">
                <div class="row  p-2" v-for="item in informacion" :key="item.idInformacion">
                    <div v-if="item.imagen === ''">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.titulo }}</h5>
                                <p class="card-text">{{ item.contenido }}</p>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-left img-fluid" v-bind:src="item.imagen" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.titulo }}</h5>
                                <p class="card-text">{{ item.contenido }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="bancaria" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card-deck justify-content-center align-items-center">
                <div class="row  p-2" v-for="item in bancaria" :key="item.idInformacion">
                    <div v-if="item.imagen === ''">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.titulo }}</h5>
                                <p class="card-text">{{ item.contenido }}</p>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-left img-fluid" v-bind:src="item.imagen" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.titulo }}</h5>
                                <p class="card-text">{{ item.contenido }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="diccionario" role="tabpanel" aria-labelledby="contact-tab">
            <div class="card-deck justify-content-center align-items-center">
                <div class="row  p-2" v-for="item in diccionario" :key="item.idInformacion">
                    <div v-if="item.imagen === ''">
                        <div class="card" style="max-width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.titulo }}</h5>
                                <p class="card-text">{{ item.contenido }}</p>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="card" style="max-width: 18rem;">
                            <img class="card-img-left img-fluid" v-bind:src="item.imagen" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.titulo }}</h5>
                                <p class="card-text">{{ item.contenido }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="public/vistas/inicio/inicio.js"></script>