<div class="row m-0 bg-dark justify-content-center align-items-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/KLP2vPxZpfo" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="text-center" id="listado">
    <nav class="nav bg-dark nav-tabs" id="myTab" role="tablist">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Información General</a>

        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Información Bancaria</a>
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Diccionario Básico</a>

        <div class="navbar-text pull-right col-4">
            <input class="form-control" type="text" placeholder="Buscar" v-model="valor" v-on:keyup="verInformacion">
        </div>
        <div class="navbar-text pull-right col">
            <input type="button" id="contribuir" class="btn btn-primary" value="Contribuir">
        </div>
    </nav>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="card-deck">
                <div class="row  p-2" v-for="item in items" :key="item.idInformacion">
                    <div v-if="item.imagen === ''">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.titulo }}</h5>
                                <p class="card-text">{{ item.contenido }}</p>
                            </div>
                            <div class="rw-ui-container"></div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-left img-fluid" v-bind:src="item.imagen" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.titulo }}</h5>
                                <p class="card-text">{{ item.contenido }}</p>
                            </div>
                            <div class="rw-ui-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
</div>
<script src="public/vistas/inicio/inicio.js"></script>