<form v-on:submit.prevent="verIdLogin" enctype="multipart/form-data" id="frm-informacion" method="post">
    <div class="card text-center">
        <div class="card-header bg-dark text-center text-light">
            Contribuir Con Información
        </div>
        <div class="card-body">
            <div class="col-ms-6">
                <label class="btn btn-file">
                    <input @change="obtenerimagen" value="" name="archivo" type="file" class="d-none" accept="image/*">
                    <img src="img/add.png" class="img-responsive" height="200" alt="Subir" id="imagenif">
                </label>
            </div>
            <div class="col-ms-6">
                <div class="row p-2">
                    Titulo
                </div>
                <div class="row p-2">
                    <input type="text" required v-model="informacion.titulo" placeholder="Titulo" class="form-control">
                </div>
            </div>
            <div class="col-ms-6">
                <div class="row p-2">
                    Tipo de Informacion
                </div>
                <div class="col">
                    <v-select v-model="informacion.tipo" :options="tipos" placeholder="Seleccione el Tipo" />
                </div>
            </div>
            <div class="col-ms-6">
                <div class="row p-2">
                    Contenido
                </div>
                <div class="row p-2">
                    <textarea class="form-control" required rows="5" v-model="informacion.contenido"
                        placeholder="Contenido"></textarea>
                </div>
            </div>
            <div class="col-ms-6">
                <div class="row p-2">
                    <input type="submit" class="btn btn-primary" value="Contribuir">
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/informacion/informacion.js"></script>