<form v-on:submit.prevent="Editar" enctype="multipart/form-data" id="frm-perfil" method="post">
    <div class="card text-center">
        <div class="card-header bg-dark text-center text-light">
            Mi Perfil
        </div>
        <div class="card-body">
            <div class="col-ms-6">
                <label class="btn btn-file">
                    <input @change="obtenerimagen" disabled value="" name="archivo" type="file" class="d-none"
                        id="img-uploader" accept="image/*">
                    <img src="img/usuario.png" class="img-responsive rounded-circle" width="200" height="200"
                        alt="Subir" id="img-preview">
                </label>
            </div>
            <div class="row p-2">
                <div class="col-2">
                    Nombre:
                </div>
                <div class="col-6">
                    <input type="text" id="nombre" required disabled v-model="perfil.nombre" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-2">
                    Correo:
                </div>
                <div class="col-6">
                    <input type="text" id="correo" required disabled v-model="perfil.correo" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-2">
                    Contraseña:
                </div>
                <div class="col-6">
                    <input type="text" id="contraseña" required disabled v-model="perfil.contraseña"
                        class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6">
                    <input id="editar" type="submit" class="btn btn-primary" value="Editar">
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/perfil/perfil.js"></script>