<form v-on:submit.prevent="Editar" id="frm-perfil" method="post">
    <div class="card text-center">
        <div class="card-header bg-dark text-center text-light">
            Mi Perfil
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-8">
                    <img src="img/usuario.png" width="200" height="200" class="rounded-circle" id="img-preview">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6">
                    <input type="file" id="img-uploader" disabled>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-2">
                    Nombre:
                </div>
                <div class="col-6">
                    <input type="text" id="nombre" required disabled v-model="perfil.nombre" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-2">
                    Correo:
                </div>
                <div class="col-6">
                    <input type="text" id="correo" required disabled v-model="perfil.correo" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-2">
                    Contraseña:
                </div>
                <div class="col-6">
                    <input type="text" id="contraseña" required disabled v-model="perfil.contraseña"
                        class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6">
                    <input id="editar" type="submit" class="btn btn-primary" value="Editar">
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/perfil/perfil.js"></script>